body {
    margin: 0;
    padding: 0;  
}

* {
    box-sizing: border-box;
    text-decoration: none; 
}

/* ADOPTION PROCESS POINTS */

.journey{
    height: 100vh;
    width: 100%;
}

.journey>h1{
    margin-bottom: 8vh;
    font-family: "Fredoka One",cursive;
    text-align: center;
}

.journeycontent{
    display: flex;
    justify-content:center;
}

.journeyright{
    width: 40%;
    height: 85vh;
}

.journeyright>img{
    /* margin-left: 22vh; */
    height: 85vh;
}

.journeyleft{
    width: 40%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.adoptionpoints{
    justify-content: space-between;
    display: flex;
}

.adoptionpoints>img{
    width: 80px;
    height: 80px;
}

.pointscontent{
    height: 21.25vh;
    display: flex;
    flex-direction: column;
}
.pointscontent>span{
    padding-left: 20px;
    font-family: "Fredoka One",cursive;
    font-size: 1.3rem;
}
.pointscontent>p{
    color: #515252;
    padding-left: 20px;
    font-family: "Readex Pro", Sans-serif;
}

/* FREQUENTLY ASKED QUESTIONS */

.questionsContainer{
    width: 100%;
    height: 100vh;
}

.questionsContainer>h1{
    margin-top: 10%;
    font-family: "Fredoka One",cursive;
    text-align: center;
}

.questionsContent{
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.questions{
    /* height: 20vh; */
    padding: 20px;
    border-bottom: 2px solid darkgrey;
}

.questions>span{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-family: "Fredoka One",cursive;
}

.questions>div{
    color: #515252;
    font-family: "Readex Pro", Sans-serif;
    font-size: 1rem;
}

.plus{
    cursor: pointer;
}

.answer {
    display: none;
    padding-top: 1%;
}

#removebtn {
    display: none;
}

/* ADOPTION FORM */

.MainForm{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Readex Pro", Sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.formContainer{
    max-width: 70%;
    width: 80%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}

.formTitle{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    font-family: "Fredoka One",cursive;
}

.formTitle::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 10px;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.user-details .input-box .details{
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 40px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: ll 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
textarea{
    width: 210%;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Readex Pro", Sans-serif;
    font-size: 16px;
}

.formbutton{
    margin-left: 32%;
    height: 45px;
}

.formbutton input{
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}


