body {
    margin: 0;
    padding: 0;  
}

* {
    box-sizing: border-box;
}

/* blog section */
.write-a-blog-btn{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.write-a-blog-btn>span{
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    width: 20%;
    text-align: center;
    background-color: #ffd100;
    font-family: "Readex Pro", Sans-serif;
    font-weight: bold;
}
.blogs-section{
    width: 100%;
    padding: 7vh 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.blog-img{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1vh;
}

.blog-title{
    font-family: "Readex Pro", Sans-serif;
}

.blog-overview{
    margin: 10px 0 20px;
    line-height: 30px;
    font-family: "Readex Pro", Sans-serif;
}

.blog-btn>button{
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-family: "Readex Pro", Sans-serif;
    font-weight: bold;
}
