/* universal */
body {
    margin: 0;
    padding: 0;  
}

* {
    box-sizing: border-box;
    text-decoration: none; 
}

/* CART CONTENT LIST */

.right {
    width: 53%;
}

.span2{
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #ffd100;
    font-family: "Readex Pro", Sans-serif;
    font-weight: bold;
}

.maincart h1 {
    text-align: center;
    font-family: "Fredoka One",cursive;
    padding-top: 2%;
    padding-bottom: 2%;
}

.maincart table {
    width: 92%;
    padding-left: 4%;
}

.cartItemImg {
    width: 25%;
}

.addedItem {
    display: flex;
    align-items: center;
    font-family: "Readex Pro", Sans-serif;
    font-size: 12px;
    padding-top: 1%;
    padding-bottom: 1%;
}

.itemName {
    padding-left: 7%;
}

.cartHead {
    justify-content: space-around;
    border-bottom: 4px solid gray;
    height: 5vh;
    font-family: "Fredoka One",cursive;
}

.headItems {
    width: 50%;
}

th, td {
    border-bottom: 1px solid black;
}
td {
    text-align: center;
    font-family: "Readex Pro", Sans-serif;
}

.quantity {
    width: 20%;
}
.delete {
    border: none;
    cursor: pointer;
}

.finalTotal {
    float: right;
    padding-top: 5%;
    padding-right: 10%;
    width: 28vw;
}

.subtotal {
    display: flex;
    align-items: center;
}

.subtotal h3 {
    font-family: "Fredoka One",cursive;
    font-size: 25px;
}

.total-price {
    padding-left: 2%;
    font-size: 23px;
    font-family: "Readex Pro", Sans-serif;
}
.finalTotal button {
    border-radius: 7px;
    padding: 15px 30px;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    background: black;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.finalTotal button:hover{
    transform: scale(1.1);
}