.navbar {
    background-color: #e5eeff;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: "Readex Pro", Sans-serif;
    font-weight: 700;
}

/* LEFT SIDE */

.left {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 35%;
    padding-left: 4vw;
}

.left li {
    width: 110px; 
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: black;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

.left li:hover {
    cursor: pointer;
    background-color: white;
    transition: 0.5s;
}

/* CENTER */

.center {
    width: 50%;
    display: flex;
    padding-left: 15%;
}
.center>a>img{
    width: 24%;
}

/* RIGHT */

.right {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    width: 60%;
    list-style: none;
}

.right p {
    margin-left: -4%;
    font-family: "Readex Pro", Sans-serif;
}

.span2{
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #ffd100;
    font-family: "Readex Pro", Sans-serif;
    font-weight: bold;
}

#userName {
    display: none;
}

#logout {
    display: none;
}

#greeting {
    display: none;
}

.shopdropdown{
    background-color: white;
    position: absolute;
    top: 10vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    display: none;
    padding: 0;
}

.shopdropdown ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    margin: 0;
}

.shopdropdown ul li {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
    margin: 0;
}

.shopdropdown ul li:hover {
    background-color: #ffd100;
}

.dropdown_menu_show {
    display: block;
    align-items: center;
    justify-content: center;
}
