button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

/* ORDER SUCCESSFULL */

.successwrapper{
    background-color: white;
    font-family: "Readex Pro", Sans-serif;
  }
  .success{
    width: 1000px;
    margin: auto;
    margin-top: 60px; 
    background-color: #e5eeff;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .icon>span {
     color: green;
     font-weight: 900;
    font-size: 60px;
  }
  .success h2{
    text-transform: capitalize;
    margin-top: 15px 0px;
    font-weight: 900;
    font-size: 40px;
    font-family: "Fredoka One",cursive;
    color:#324d67;
  }
  .success .emailmsg{
     font-size: 16px;
    font-weight: 600;
    text-align: center;
  }
  .cancel p{
    font-size: 20px;
    font-weight: 600;
  }
  .email{
    margin-left: 5px;
    color: #f02d34;
  }
  
.btn{
    font-size: 16px;
    margin-top: 10px;
    background-color: #ffd100;
    width: 300px;
    padding: 10px;
}